.multi-drop-container {
  border: 1px solid #D6D6D6; /* Set border to 1px solid transparent */
  border-radius: 5px;
  margin-top: 1%;
  text-align: left;
  font-size: 14px;

}
.multi-drop-container:hover {
  border: 2px solid #000; /* Set border to 1px solid transparent */
  cursor: pointer; /* Optionally, change the cursor on hover */
}
.multi-drop-container .dropdown-content {
  border-top: none; /* Remove top border to prevent double borders */
}

/* Remove the default border added by MultiSelect */
.multi-drop-container .dark {
  border: none !important;
  border-radius: none !important;
}

.rmsc.dark {
  --rmsc-bg: #F2F5F9;
}

  .multi-drop-container .dropdown-wrapper .item-checkbox {
    display: none;
  }
/* styles.css */



