@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  border-bottom: 1px solid #d6d6d6;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #f2f5f9;
  position: relative;
  z-index: 1000;
  width: 80%;
  margin: auto;
}
.nav-container {
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  padding: 5px;
}

.logo {
  width: auto;
  object-fit: cover;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    margin: auto;
  }

  .logo {
    margin-bottom: 0px;
  }
}
.con-po {
  width: 80%;
}

.menu-icon {
  display: none;
}

.nav-elements {
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.multi-drop-back {
  background-color: #f2f5f9;
}

.nav-elements ul a {
  font-size: 12px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #f2f5f9;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
